<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:replace="~{fragments :: header}"></header>
    <div class="padding-container">
        <h1>Plot Details</h1>
        <hr/>


                <div class="info-message plot-detail padding-container">


                    <div>
                    <ul>
                        <h4><span>Planting Date:  </span></h4>
                        <h4><span th:text="${formattedPlantingDate}"></span></h4>
                    <th:block th:if="${plot.planting.daysUntilHarvestStartDate}">
                        <br/>
                        <th:block th:if="${plot.planting.daysUntilHarvestStartDate == 0}">
                        <span th:style="'font-weight: bold; color: hsla(120, 100%, 33%, 1)'">Harvest Starts Today!</span>
                            <br/>
                        </th:block>
                            <th:block th:if="${plot.planting.daysUntilHarvestStartDate > 0}">
                                <span>Days Until <br/> Harvest:</span>
                                <span th:text="${plot.planting.daysUntilHarvestStartDate}"></span>
                                </br>
                            </th:block>

                            <th:block th:if="${plot.planting.daysUntilHarvestStartDate < 0}">
                                <div  class="font-weight-bold" th:style="'color: hsla(120, 100%, 33%, 1)'">
                                    <span>Harvest Started </span>
                                    <br/>
                                    <span th:text="${plot.planting.daysUntilHarvestStartDate * -1}" ></span>
                                    <span th:text="${plot.planting.daysUntilHarvestStartDate < -1 ? ' Days ' : ' Day '}"></span>
                                    <span> Ago.</span>
                                </div>
                            </th:block>

                        <th:block th:unless="${editDateType == 1}">
                        <span>Harvest Start Date:  </span><span th:text="${formattedHarvestDate}"></span>
                        <br/>
                        <a  th:href="'../plot/detail?plotId=' + ${plot.id} + '&editDateType=1'" >Change Harvest Start</a>
                        </th:block>

                        <th:block th:if="${editDateType == 1}">
                        <br/>
                            <form method="post">

                                <div class="form-group">

                                    <h4>Set Harvest Start Date</h4>

                                    Current Harvest Start Date: <span th:text="${formattedHarvestDate}"></span>

                                    </br>

                                    <label>New Harvest Start Date:
                                        <input type="date" th:field="${plotDTO.editDate}" class="form-control" />

                                    </label>
                                    <!--            <span th:errors="${plantTime.daysUntilHarvestTotal}" class="error"></span>-->
                                    <br/>
                                </div>

                                <input type="submit" value="Update" class="btn btn-primary">

                            </form>



                        </th:block>


                    </th:block>

                    <th:block th:if="${plot.planting.daysUntilRemoveStartDate}">
                        <br/>
                        <br/>
                        <th:block th:if="${plot.planting.daysUntilRemoveStartDate == 0}">
                        <span th:style="'font-weight: bold; color: hsla(210, 50%, 50%, 1)'">Removal Starts Today!</span>
                            </br>
                        </th:block>
                        <th:block th:if="${plot.planting.daysUntilRemoveStartDate > 0}">
                            <span>Days Until <br/> Removal:</span>
                            <span th:text="${plot.planting.daysUntilRemoveStartDate}"></span>
                            </br>
                        </th:block>

                        <th:block th:if="${plot.planting.daysUntilRemoveStartDate < 0}">
                            <div  class="font-weight-bold" th:style="'color: hsla(210, 50%, 50%, 1)'">
                                <span>Removal Started </span>
                                <br/>
                                <span th:text="${plot.planting.daysUntilRemoveStartDate * -1}" ></span>
                                <span th:text="${plot.planting.daysUntilRemoveStartDate < -1 ? ' Days ' : ' Day '}"></span>
                                <span> Ago.</span>
                            </div>
                            </th:block>



                        <th:block th:unless="${editDateType == 2}">
                            <span>Removal Date:  </span><span th:text="${formattedRemoveDate}"></span>
                            <br/>
                            <a  th:href="'../plot/detail?plotId=' + ${plot.id} + '&editDateType=2'" >Change Removal Date</a>
                        </th:block>


                        <th:block th:if="${editDateType == 2}">
                            <br/>
                            <form method="post">

                                <div class="form-group">

                                    <h4>Set Remove Date</h4>

                                    Current Remove Date: <span th:text="${formattedRemoveDate}"></span>

                                    </br>

                                    <label>New Remove Date:
                                        <input type="date" th:field="${plotDTO.editDate}" class="form-control" />

                                    </label>
                                    <!--            <span th:errors="${plantTime.daysUntilHarvestTotal}" class="error"></span>-->
                                    <br/>
                                </div>

                                <input type="submit" value="Update" class="btn btn-primary">

                            </form>



                        </th:block>


                    </th:block>
                    </ul>
                    </div>

                    <div class="centered">
                        <h4>
                            <a th:href="'../plant/detail?plantId=' + ${plot.planting.plant.id}">Plant Name: <span th:text="${plot.planting.plant.name}"></span></a>
                        </h4>
                        <img th:src="'/images/' + ${plot.planting.plant.plantIcon.src} + '.png'" alt="${plot.planting.plant.plantIcon.description}" width="150" />
                        <br/>
                        <br/>

                    </div>

                    <div>
                        <h5>
                            <a th:href="'../garden/detail?gardenId=' + ${plot.bed.garden.id}">Garden Name: <span th:text="${plot.bed.garden.name}"></span></a>
                        </h5>
                        <br/>

                        <h5>
                            <a th:href="'../garden/detail?gardenId=' + ${plot.bed.garden.id} + '#' + ${plot.bed.id}">
                        <span>Bed Name:  </span><span th:text="${plot.bed.name}"></span>
                        </a>
                        </h5>
                    </div>

                </div>

        <h3 th:unless="${plot.planting}" th:text="${explanation}"></h3>
                <hr/>

        <h3><a th:href="'../garden/detail?gardenId=' + ${plot.bed.garden.id} + '#' + ${plot.id}">Return to

            <span th:text="${plot.planting.plant.name}"></span>
            <span> Plot in </span>
            <span th:text="${plot.bed.garden.name}"></span> Garden</a></h3>
    </div>


</div>

</body>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</html>