<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>


<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${plant.name}" class="form-control">
        </label>
        <p class="error" th:errors="${plant.name}"></p>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Description-->
<!--            <input th:field="${plant.plantDetails.description}" class="form-control">-->
<!--        </label>-->
<!--        <p class="error" th:errors="${plant.plantDetails.description}"></p>-->
<!--    </div>-->
    <div class="form-group">
        <label>Grow Time
            <input th:field="${plant.growTime}" class="form-control">
        </label>
        <p class="error" th:errors="${plant.growTime}"></p>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Category-->
<!--            <select th:field="${event.eventCategory}">-->
<!--                <option th:each="eventCategory : ${categories}"-->
<!--                        th:value="${eventCategory.id}"-->
<!--                        th:text="${eventCategory.name}"-->
<!--                ></option>-->
<!--            </select>-->
<!--            <p class="error" th:errors="${event.eventCategory}"></p>-->
<!--        </label>-->
<!--    </div>-->
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>


</body>
</html>