
body {
 background: hsla(214, 31%, 26%, 1);
 color: hsla(83, 90%, 80%, 1);
 font-size: large;
}


header {
}

.standard-text-color {
 color: hsla(83, 90%, 80%, 1);
}

a:link {
  color: hsla(83, 90%, 80%, 1);
}

a:visited {
    color: hsla(83, 90%, 80%, 1);
}

a:hover {
  color: hsla(90, 100%, 56%, 1);
}


.padding-container {
    padding: 2rem;
}


.navbar {
  background-color: hsla(214, 31%, 11%, 1);
}

.dropdown-menu {
  background-color: hsla(214, 31%, 11%, 1);
}

.dropdown-menu a:hover {
  color: hsla(214, 31%, 26%, 1);
  background-color: hsla(83, 90%, 80%, 1);
}

 input[type="number"] {
   width: 80px;
 }

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}


.info-message {
    padding: 1rem;
    background: hsla(214, 31%, 11%, 1);
    border-radius: 1rem;
}


.garden-detail-garden-wrapper {
    width: min(1200px, 100% - 3rem);
    margin-inline: auto;
}

.garden-detail-table-wrapper {
    margin: 1rem;
    padding: 1rem;
    background: hsla(214, 31%, 11%, 1);
    border-radius: 1rem;
}

.garden-detail-table-border {
    padding: 1rem;
 background: hsla(214, 31%, 11%, 1);
    border-radius: 1rem;
}

.garden-detail-table-inner-border {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: hsla(214, 31%, 26%, 1);
    border-radius: 1rem;
}

.garden-detail-table-inner-border-2 {
    background: hsla(120, 100%, 15% , 1);
    border-radius: 1rem;
}


.garden-detail-table {
    display: grid;
    column-gap: 10px;
    width: 100%;
    border-radius: 1rem;
    color: hsla(28, 22%, 17%, 1);
    border-collapse: collapse;
}

.garden-detail-td {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: hsla(83, 90%, 70%, 0.5);

}

.garden-detail-td:nth-of-type(2n) {
    border-radius: 1rem;
    background: hsla(83, 90%, 70%, 0.6);
}


@media (max-width: 1000px) {

    .garden-detail-td {
        display: grid;
    }

}


.table-container {
    max-width: 100%;
    overflow-x: scroll;
}

.iconSelectionMenu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.active {
  background-color: hsla(90, 100%, 56%, 1);
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 60px;
  height: 60px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform:
    rotateZ(-10deg)
    rotateX(10deg);
}

.link-shadow{
text-shadow: 0 0 1rem black;
text-shadow: 0 0 1rem black;
}

.centered {
text-align: center;
display: block;
}

.right-align {
    text-align: right;
    display: block;
}

.plot-detail{
display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-max(100px, 1fr);;
}


.light-shadow{
  text-shadow: 0 0 1rem hsla(83, 90%, 70%, 1);
}



.delete-image{

margin-top: 1rem;
margin-bottom: 1rem;
}


.bottom-margin {
margin-bottom: 1rem;
}

.row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row-grid .div-column {
  padding: 10px;
}


.row-grid .div-column:last-child {
  justify-content: flex-end;
}

.grid-row .button {
  margin-right: 0;
}
