<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:insert="~{fragments :: header}"></header>
    <div class="padding-container">
<h1 th:text="${garden.name} + ' garden'"></h1>

        <div class="info-message">

        <h5>Beds are divided into plots</h5>
          <h5>Plots are spaces for planting and a bed can be up to 4 x 20 (80) plots</h5>

        </div>
    <br/>
<form method="post">

        <th:block th:each="i: ${#numbers.sequence(1, bedNum)}">
            <div class="form-group">
                <label> Bed Name
                    <input type="text" name="bedName" th:value="${'bed' + i}"/>
                </label>
                <br/>
                <br/>
                <label> Bed width in plots:
                    (max 4)
                    <input type="number" min="1" max="4" name="bedWidthPlots" th:value="${1}"/>
                </label>
                <br/>
                <br/>
                <label> Bed length in plots:
                        (max 20)
                    <input type="number" min="1" max="20" name="bedLengthPlots" th:value="${1}"/>
                </label>
                <hr/>
            </div>
        </th:block>

            <input type="submit" value="Create Garden" class="btn btn-primary">

        </form>

    </div>
</div>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>