<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="~{fragments :: head}"></head>
<body class="container">

<header th:insert="~{fragments :: header}"></header>

<h1 th:text="${garden.name}"></h1>
<form method="post">

        <th:block th:each="i: ${#numbers.sequence(1, bedNum)}">
            <div class="form-group">
                <label> Bed Name
                    <input type="text" name="bedName" th:value="${'bed' + i}"/>
                </label>
                <label> Bed width (in plots)
                    <input type="number" min="1" max="5" name="bedWidthPlots" th:value="${1}"/>
                </label>
                <label> Bed length (in plots)
                    <input type="number" min="1" max="20" name="bedLengthPlots" th:value="${1}"/>
                </label>

            </div>
        </th:block>

            <input type="submit" value="Create" class="btn btn-primary">

        </form>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>