<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:replace="~{fragments :: header}"></header>
    <div class="padding-container">
        <h1>Delete Gardens</h1>
        <hr/>
        <p>Select the checkboxes of the Garden(s) you wish to delete.</p>
        <p>Then click delete at the bottom of the list.</p>
        <p>Choose carefully deleting is final.</p>
        <hr/>

<form method="post">

    <th:block th:each="garden : ${gardens}">
        <div class="form-group">
            <label>
                <h4><span th:text="${garden.name}"></span></h4>
                <input type="checkbox" name="gardenIds" th:value="${garden.id}" class="form-control">
            </label>
        </div>
        <hr/>
    </th:block>
            </label>

        </div>
        <hr/>
    </th:block>



    <input type="submit" value="Delete" class="btn btn-danger">

</form>
    </div>
</div>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
