<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="~{fragments :: header}"></header>

<div class="garden-detail-garden-wrapper">
        <h2  th:text="${garden.name + ' Beds'}"></h2>

        <th:block th:each="bed : ${garden.beds}">

            <div class="garden-detail-table-wrapper">
                <div class="garden-detail-table-border">
                    <div class="garden-detail-table-inner-border">

                        <h3 class="garden-detail-caption" th:text="${bed.name}"></h3>

                        <div class="garden-detail-table-inner-border-2">

                            <div class ="garden-detail-table" th:style="'grid-template-columns: repeat('+ ${bed.bedWidthPlots} +', 1fr);'">

                                <th:block th:each="plot: ${bed.plots}">
                                <div class="garden-detail-td">
                                    <a href="/garden">Plot Details</a>
                                    <p th:text="${plot.id}"></p>

                                    <div th:if="${plot.planting}">

                                        <p th:text="${plot.planting.plant.name}"></p>

                                        <img th:src="'/images/' + ${plot.planting.plant.plantIcon.src} + '.png'" alt="${plot.planting.plant.plantIcon.description}" width="60" />

                                        <p>Time Left:</p>

                                        <form method="post">
                                            <input hidden name="plotId" th:value="${plot.id}"/>
                                        <button class="btn btn-secondary">Remove</button>
                                        </form>

                                    </div>

                                    <form method="post" th:unless="${plot.planting}">

                                        <input hidden name="plotId" th:value="${plot.id}"/>


                                       <select  th:name="plantId">
                                            <option>Select Plant</option>
                                           <option th:each="plant : ${plants}"
                                                    th:value="${plant.id}"
                                                    th:text="${plant.name}"
                                            ></option>
                                       </select>


                                        <button class="btn btn-primary" th:text="Plant"></button>
                                    </form>
                                </div>
                    </th:block>

                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

</div>

</body>
</html>