<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="~{fragments :: header}"></header>



        <h2  th:text="${garden.name + ' Beds'}"></h2>


        <th:block th:each="bed : ${garden.beds}">

            <h3 th:text="${bed.name}"></h3>
            <table class="table table-bordered ">
                <th:block th:each="i: ${#numbers.sequence(1, bed.bedLengthPlots)}">
                <tr>
                    <th:block th:each="j: ${#numbers.sequence(1, bed.bedWidthPlots)}">
                        <td th:text="plot"></td>
                    </th:block>
                </tr>

            </th:block>

            </table>
        </th:block>



</body>
</html>