<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:replace="~{fragments :: header}"></header>
    <div class="padding-container">
<div class="garden-detail-garden-wrapper">
        <h2  th:text="${garden.name + ' Garden'}"></h2>

    <div class="info-message">
        <h5>You can plant or remove plantings.</h5>
        <h5>Click on "Plot Details" for more information or to adjust harvest and removal dates.</h5>

    </div>
    <hr/>

    <div>
    <a  th:href="'/garden/addbed'">
        <button class="btn btn-primary">Add New Bed</button>
    </a>
    </div>
    <br/>

    <th:block th:each="bed : ${garden.beds}">



            <div class="garden-detail-table-wrapper" th:id="${bed.id}">
                <div class="row-grid">
                    <div class="div-column">
                    <h3 class="garden-detail-caption" th:text="${bed.name}"></h3>
                    </div>
                    <div class="div-column right-align">
                        <a th:href="'../bed/delete?gardenId=' + ${garden.id} + '&bedId='+ ${bed.id}">
                    <button class="btn btn-secondary delete-buttons" th:id="'delete-button' + ${bed.id}">Delete Bed</button>
                        </a>
                    </div>
                </div>
                <div class="garden-detail-table-border">

                    <div class="garden-detail-table-inner-border">




                            <div class ="garden-detail-table" th:style="'grid-template-columns: repeat('+ ${bed.bedWidthPlots} +', 1fr);'">

                                <th:block th:each="plot: ${bed.plots}">
                                <div class="garden-detail-td" th:id="${plot.id}">
                                    <div th:if="${plot.planting}">
                                        <div class="centered">
                                        <h5><a th:href="'../plot/detail?plotId=' + ${plot.id}" class="link-shadow">Plot Details</a></h5>


                                        <img th:src="'/images/' + ${plot.planting.plant.plantIcon.src} + '.png'" alt="${plot.planting.plant.plantIcon.description}" width="60" />

                                            <p th:text="${plot.planting.plant.name}"></p>
                                        </div>
                                            <hr/>
                                        <div class="centered">
                                        <span>Plant Date:</span>

                                        <p th:text="${plot.planting.plantingDate}"></p>
                                        <hr>

                                        <th:block th:if="${plot.planting.harvestStartDate}">
<!--                                            <th:block th:if="${plot.planting.daysUntilHarvestStartDate}">-->
                                            <span   th:if="${plot.planting.daysUntilHarvestStartDate == 0 }"
                                                th:style="'font-weight: bold; color: hsla(120, 100%, 13%, 1)'" class="light-shadow">Harvest Starts Today!</span>
<!--                                            </th:block>-->
                                            <th:block th:if="${plot.planting.daysUntilHarvestStartDate > 0}">
                                            <span>Days Until <br/> Harvest:</span>
                                            <span th:text="${plot.planting.daysUntilHarvestStartDate}"></span>
                                            </th:block>

                                            <th:block th:if="${plot.planting.daysUntilHarvestStartDate < 0}">
                                                <div  class="font-weight-bold light-shadow" th:style="'color: hsla(120, 100%, 13%, 1)'">
                                                <span>Harvest Started </span>
                                                <br/>
                                                <span th:text="${plot.planting.daysUntilHarvestStartDate * -1}" ></span>
                                                <span th:text="${plot.planting.daysUntilHarvestStartDate < -1 ? ' Days ' : ' Day '}"></span>
                                                <span> Ago.</span>
                                                </div>
                                            </th:block>

                                            <hr/>

                                        </th:block>
                                        <th:block th:if="${plot.planting.removeDate}">
<!--                                            <th:block th:if="${plot.planting.daysUntilRemoveStartDate}">-->

                                            <th:block th:if="${plot.planting.daysUntilRemoveStartDate == 0}">
                                            <span th:style="'font-weight: bold; color: hsla(210, 50%, 30%, 1)'" class="light-shadow">Removal Starts Today!</span>
                                                <br/>
                                            </th:block>
<!--                                            </th:block>-->
                                            <th:block th:if="${plot.planting.daysUntilRemoveStartDate > 0}">
                                                <span>Days Until <br/> Removal:</span>
                                                <span th:text="${plot.planting.daysUntilRemoveStartDate}"></span>
                                                <br/>
                                            </th:block>

                                            <th:block th:if="${plot.planting.daysUntilRemoveStartDate < 0}">
                                                <div  class="font-weight-bold light-shadow" th:style="'color: hsla(210, 50%, 30%, 1)'">
                                                <span>Removal Started </span>
                                                <br/>
                                                <span th:text="${plot.planting.daysUntilRemoveStartDate * -1}"></span>
                                                <span th:text="${plot.planting.daysUntilRemoveStartDate < -1 ? ' Days ' : ' Day '}"></span>
                                                <span> Ago.</span>
                                                </div>
                                            </th:block>
                                            <hr/>
                                        </th:block>
                                        </div>
                                        <div class="centered">
                                            <form method="post">
                                                <input hidden name="plotId" th:value="${plot.id}"/>
                                            <button class="btn btn-secondary bottom-margin" >Remove Plant</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="centered" th:id="${plot.id}">
                                    <form method="post" th:unless="${plot.planting}">

                                    <h5 class="link-shadow standard-text-color">Plant Here</h5>
                                        <input hidden name="plotId" th:value="${plot.id}"/>


                                       <select class="bottom-margin"  th:field="*{plantingDTO.plantId}">
                                            <option th:value="0">Select Plant</option>
                                           <option th:each="plant : ${plants}"
                                                    th:value="${plant.id}"
                                                    th:text="${plant.name}"
                                            ></option>
                                       </select>
                                        <p class="error" th:errors="${plantingDTO.plantId}"></p>

                                        <th:block th:if="${plot.id} == ${errorPlotId}">
                                            <h5 class="error">Selecting a Plant<br/>is required.</h5>
                                        </th:block>

<!--                                            <th:block th:if="${plantingDTO.errorMsg}">-->

<!--                                                <p class="error" th:text="${plantingDTO.errorMsg}"></p>-->
<!--                                            </th:block>-->


                                        <button class="btn btn-primary" th:text="Plant"></button>


                                    </form>
                                    </div>
                                </div>
                    </th:block>

                    </div>
                        </div>
                    </div>
<!--                </div>-->
            </div>
        </th:block>


        </div>
    </div>
</div>

<script>
// Get the reference to the delete buttons
let deleteButtons = document.querySelectorAll(".delete-buttons");

// Create a function to show the confirm popup
function showConfirmPopup() {
  // Show a confirm popup
  var confirmPopup = window.confirm("Are you sure you want to delete this?");

  // If the user clicks yes, delete the record
  if (confirmPopup) {


  }
}

// Add an event listener to the delete buttons
deleteButtons.forEach(function(button) {
  button.addEventListener("click", showConfirmPopup);
});
</script>

<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>