<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:insert="~{fragments :: head}"></head>

<body class="container">
<div class="padding-container">
<header th:insert="~{fragments :: header}"></header>
    <div class="padding-container">
        <h1>Start a Garden</h1>
        <div class="info-message">

                <h5>A Garden can contain up to 100 garden beds.</h5>

                <h5>Each bed can also be divided into plots on the next screen.</h5>


        </div>
<hr/>
<form method="post">
    <div class="form-group">
        <label>Garden Name
            <input th:field="${gardenStartDTO.name}" class="form-control">
        </label>
        <p class="error" th:errors="${gardenStartDTO.name}"></p>
    </div>
    <div class="form-group">
        <label>How many beds in this garden?
            <input th:field="${gardenStartDTO.bedNum}" type="number" th:value="${2}" class="form-control">
        </label>
        <p class="error" th:errors="${gardenStartDTO.bedNum}"></p>
    </div>
    <input type="submit" value="Continue" class="btn btn-primary">
</form>

    </div>
</div>

<th:block th:replace="~{fragments :: endingScripts}"></th:block>

</body>
</html>