<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="~{fragments :: header}"></header>

<div th:replace="~{fragments :: adminMenu}"></div>

<table class="table table-striped">

        <h2>Plant Icon List</h2>

    <tr th:each="plantIcon : ${plantIcons}">
        <td><a th:text="${plantIcon.id" th:href="'/admin/plantIcon?plantIconId=' + ${plantIcon.id}"></a></td>
    </tr>

</table>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>