<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:replace="~{fragments :: header}"></header>
    <div class="padding-container">
        <h1>Create a Plant for Your Garden</h1>
<form method="post">
    <div class="form-group">
        <label>Plant Name
            <input th:field="${plant.name}" class="form-control">

        <p class="alert" th:errors="${plant.name}"></p>
    </div>


    <div class="form-group">
        <label>Select a Plant Icon for your Plant type:
            <p class="alert" th:errors="${plant.plantIcon}"></p>
            <div class="iconSelectionMenu">
                <th:block th:each="icon : ${plantIcons}">
                     <input type="radio" th:field="${plant.plantIcon}" th:value="${icon.id}" class="input-hidden" th:id="${icon.description}"/>
                        <label th:for="${icon.description}">
                            <img th:src="'/images/' + ${icon.src} + '.png'" th:alt="${icon.description}" width="60" />
                        </label>
                </th:block>
            </div>


        </label>
    </div>

    <div class="form-group">


            <h5>Plant Timer:</h5>
        <p>(optional)</p>

            <label>Days Until You Can Start Harvesting:
                <input type="number" th:field="${newPlantTime.daysUntilHarvestTotal}" class="form-control">
            </label>
<!--            <span th:errors="${plantTime.daysUntilHarvestTotal}" class="error"></span>-->
<br/>
        <br/>
            <label>Days Until Plant Removal:
                <input type="number" th:field="${newPlantTime.daysUntilPlantRemoveTotal}" class="form-control">
            </label>
<!--            <span th:errors="${plantTime.daysUntilPlantRemoveTotal}" class="error"></span>-->
       </div>

    <input type="submit" value="Create" class="btn btn-primary">

    </form>
</div>
</div>

</body>

<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</html>
