<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:replace="~{fragments :: header}"></header>
    <div class="padding-container">
        <h1>Create a Plant for Your Garden</h1>
<form method="post">
    <div class="form-group">
        <label>Plant Name
            <input th:field="${plant.name}" class="form-control">
        </label>
        <span th:errors="${plant.name}" class="error"></span>
    </div>


    <div class="form-group">
        <label>Select a Plant Icon for your Plant type.
            <div class="iconSelectionMenu">


                <th:block th:each="icon : ${plantIcons}">
<!--                    <div th:class="iconSelectionIcon">-->
                     <input type="radio" th:field="${plant.plantIcon}" th:value="${icon.id}" class="input-hidden" th:id="${icon.description}"/>
                        <label th:for="${icon.description}">
                            <img th:src="'/images/' + ${icon.src} + '.png'" th:alt="${icon.description}" width="60" />
                        </label>
<!--                    </div>-->
                </th:block>
            </div>

            <p class="error" th:errors="${plant.plantIcon}"></p>
        </label>
    </div>

    <div class="form-group">
        <label>Plant Time
            <select th:field="${plant.plantTime}">

                <option th:each="plantTime : ${plantTimes}"
                        th:value="${plantTime.id}"
                        th:text="${plantTime.name}"
                ></option>
            </select>
            <p class="error" th:errors="${plant.plantTime}"></p>
        </label>
    </div>







    <input type="submit" value="Create" class="btn btn-primary">
</form>


</div>
</div>

</body>

<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</html>