<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="~{fragments :: header}"></header>

<table class="table table-striped standard-text-color">
    <tr>
        <th>ID</th>
        <td th:text="${plant.id}"></td>
    </tr>
    <tr>
        <th>Icon</th>
        <td>
            <img th:src="'/images/' + ${plant.plantIcon.src} + '.png'" alt="${plant.plantIcon.description}" width="60" />

        </td>
    </tr>
<!--    <tr>-->
<!--        <th>Contact Email</th>-->
<!--        <td th:text="${event.eventDetails.contactEmail}"></td>-->
<!--    </tr>-->
</table>


</body>
</html>