<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:replace="~{fragments :: header}"></header>
    <div class="padding-container">
        <h1>Plant Details</h1>
        <hr/>
        <h5>Plant Name: <span th:text="${plant.name}"></span></h5>


        <h5>Plant Icon: <img th:src="'/images/' + ${plant.plantIcon.src} + '.png'" alt="${plant.plantIcon.description}" width="60" /></h5>


        <h5>Current Plantings:</h5>
        <ul>
            <th:block th:each="planting : ${plant.plantings}">
                <div class="info-message">
                    <h5>
                    <a th:href="'../garden/detail?gardenId=' + ${planting.plot.bed.garden.id}">
                    <span>Garden Name:</span>
                        <span th:text="${planting.plot.bed.garden.name}"></span>
                    </a>
                    </h5>

                    <h5>
                    <a th:href="'../garden/detail?gardenId=' + ${planting.plot.bed.garden.id} + '#' + ${planting.plot.bed.id}">
                    <span>Bed Name:</span>
                    <span th:text="${planting.plot.bed.name}"></span>
                    </a>
                    </h5>
                    </br>

                    <h5>
                    <a th:href="'../plot/detail?plotId=' + ${planting.plot.id}">
                    <span>Plot Details</span>
                    </a>
                    </h5>


                    <span>Planting Date:</span>
                    <p th:text="${planting.plantingDate}"></p>
                    <th:block th:if="${planting.daysUntilHarvestStartDate}">
                    <span>Days Until Harvest Starts:</span><p th:text="${planting.daysUntilHarvestStartDate}"></p>
                    </th:block>
                    <th:block th:if="${planting.daysUntilRemoveStartDate}">
                    <span>Days Until Removal Date:</span><p th:text="${planting.daysUntilRemoveStartDate}"></p>
                    </th:block>
                </div>
                <hr/>
            </th:block>
        </ul>


<h3 th:unless="${plant}" th:text="${explanation}"></h3>
    </div>
</div>

</body>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</html>