<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped standard-text-color">

    <h2>Plant List</h2>

    <h1 th:text="${testId}"></h1>

    <tr th:each="plant : ${plants}">
        <td><a th:href="'/plant/detail?plantId=' + ${plant.id}" th:text="${plant.name}"></a></td>
        <td>
            <img th:src="'/images/' + ${plant.plantIcon.src} + '.png'" alt="${plant.plantIcon.description}" width="60" />
        </td>
        <td th:text="${plant.plantTime.name}"></td>


    </tr>

</table>

</body>
</html>