<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Garden Time</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>



<body>


<header th:fragment="header">
    <h1 th:text="${title}">Garden Time</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/plant">All Plants</a></li>
        <li class="nav-item"><a class="nav-link" href="/plant/create">Create Plant</a></li>
        <li class="nav-item"><a class="nav-link" href="/plant/delete">Delete Plants</a></li>
        <li class="nav-item"><a class="nav-link" href="/planttime">All Plant Times</a></li>
        <li class="nav-item"><a class="nav-link" href="/planttime/create">Create Plant Time</a></li>
        <li class="nav-item"><a class="nav-link" href="/planttime/delete">Delete Plant Time</a></li>
        <li class="nav-item"><a class="nav-link" href="/garden">Garden List</a></li>
        <li class="nav-item"><a class="nav-link" href="/garden/start">Start Garden</a></li>
        <li class="nav-item"><a class="nav-link" href="/garden/delete">Delete Garden</a></li>
    </ul>
</header>


</body>
</html>