<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: welcomeHead}"></head>
<body class="container">

<div class="padding-container">

    <header th:fragment="header">
        <h1 th:text="${title}">Garden Party</h1>



    </header>

    <h1>Welcome to Garden Party</h1>
    <hr/>
    <th:block th:unless="${userGardenData}">
    <h2 ><a href="/login">Login</a> or <a href="/register">Register</a></h2>
    </th:block>
    <hr/>
    <h4>This is the place to organize and plan your garden!</h4>

<div class="info-message">

    <h4>You can:</h4>
    <ul>
        <li>
            <a class="nav-link" href="/garden/start">Create a Garden</a>
        </li>
        <li>
            <a class="nav-link" href="/plant/create">Create Plants for your Garden</a>
        </li>
        <li>
            <a class="nav-link" href="/planttime/create">Set up Timings for Harvest and Replanting</a>
        </li>
    </ul>


</div>
</div>


<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>