<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: welcomeHead}"></head>
<body class="container padding-container">

<h1>Welcome to Garden Party</h1>


<div class="padding-container">

<h4>Login Here</h4>
<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>
<hr/>
    <div class="info-message">
<h4>Want to create an account?</h4>

    <h3> <a href="/register">Click Here to Register</a></h3>

    <h5>or</h5>

    <h4><a href="/home">Return Home</a></h4>
    </div>
</div>
<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>