
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: welcomeHead}"></head>
<body class="container padding-container">

<h1>Welcome to Garden Party</h1>

    <div class="padding-container">
        <h4>Register to use Garden Party</h4>
<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="*{registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>
<hr/>
        <div class="info-message">
            <h4>Already have an account?</h4>

            <h3> <a href="/login">Click Here to Login</a></h3>

            <h5>or</h5>

            <h4><a href="/home">Return Home</a></h4>
        </div>


    </div>







<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>


