<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<div class="padding-container">
<header th:replace="~{fragments :: header}"></header>
    <div class="padding-container">
        <h1>Plant Timer List</h1>
<table class="table table-striped">

    <tr th:each="plantTime : ${plantTimes}">
        <td><a th:text="${plantTime.name}" th:href="'/plant?plantTimeId=' + ${plantTime.id}"></a></td>
    </tr>

</table>
    </div>
</div>

<th:block th:replace="~{fragments :: endingScripts}"></th:block>
</body>
</html>